@import "tailwindcss";

@theme {
  --color-primary: var(-primary)
}


@layer base {

  :root {
    --primary: #324546;
  }

  *{
    box-sizing: border-box;
  }

  body {
    @apply transition-all duration-300;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}